/* hero section */
.hero {
    height: 100vh;
}

.hero_img {
    background-image: url(https://s3-alpha-sig.figma.com/img/ad63/d105/589672516c7e45d7272c89ea7ebcf947?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Shay-1ri7SSuTfNVbwHnPXkMURHj~w-wHqhuaajhE42QSx409-Yuo3rpC4QLTEc9U8mHn2BRnH7JGgvFrtqoBkdUDeQx4j5DAIR1WslgUuSc-FMsmdJfYmL1vS45bmac2vQIp1I68EAP1sOyam7ET63JWagekXE9MZdyd7HqilQboAlDjOmC2FgMJ1UISf21JA8wsjl5MU5Fh~kC-xw6wbdVIdyeBvgYaPRaElvULasgNrSn904EbZoB0eg4Xr0pzpHpH~ao4Cnm7Yh-wqdsTjDID5IrLiFM5krPtL~mX9jAWKdbGUIMwicwnWAjytH2M9wmIEDVaeNJy9aENqNxEQ__);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* background-color: rgb(152, 149, 149); */
}

.play {
    font-size: 50px;
    color: rgb(217, 95, 95);
    transform: translate(660%, 560%) !important;
    margin-left: 50%;
}

.hero_txt {
    background-color: rgb(51, 51, 51);
    height: 100vh;
    color: white;
}

.hero_txt h5 {
    margin: 40px 0;
}

.hero_txt h1 {
    margin: 50px 0;
}

.hero_txt input {
    width: 45%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.hero_txt button {
    background-color: rgb(217, 95, 95);
    border: 2px solid rgb(217, 95, 95);
    padding: 10px 20px;
    color: white;
    margin: 10px;
    transition: .3s;
}

.hero_txt button:hover {
    background-color: transparent;
    color: rgb(217, 95, 95);
}

/* second_section */
.second_section {
    height: 80vh;
}

.sec_img {
    background-image: url(https://s3-alpha-sig.figma.com/img/5ca0/4bc1/6c1693cd9ea402e46f47e21115ed081a?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aZ~-eAInXzFDh0tzctzRRlw92phBws43hM3JNwqLUYbbzc5mLaOydSfJdfsCk0Rer74dQLUHsIc6q4wOgFMNp1EjRQhjhQSGhykSDuoBMkl0LOeG~NuVhAhpaWhg6vVHgcwNRg3t6O2o2PunGIW07THPK-kMH0l~~HPFY5vMrVsx9NKBnZ-LAtcK5~-e-3fy87fKf3vc2x71-uELAAWnsheb9av9HWC7awOaqiyTmsnZ-lj7EUOeaJaziusgvoOc4Q4vtBFwMR6zqwOG~PSwELG9srv-5oRqvWqIEckQtn-SUmCGI5Xlvz1oife4gweMnIk6XaMHW63s4oCZsAhyQA__);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.white_box {
    background-color: rgba(255, 255, 255, 0.456);
    height: 80vh;
    padding: 100px 100px;
}

.w_box {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 60%;
    border-radius: 20px;
    padding: 80px;
}

.w_box p {
    line-height: 2;
    margin: 40px 0;
}

.w_box button {
    background-color: rgb(237, 235, 235);
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    border-radius: 30px;
    transition: .3s;
}

.w_box button:hover {
    background-color: transparent;
}

/* third_sec */
.third_sec {
    height: 100vh;
}

.third_map {
    height: 100vh;
}

.third_txt {
    height: 100vh;
    background-color: rgb(51, 51, 51);
    color: white;
}

.details {
    margin: 50px;
    font-size: 18px;
}

.details i {
    background-color: rgb(217, 95, 95);
    padding: 15px;
    border-radius: 50%;
    font-size: 25px;
    float: left;
    margin: 0 20px;
}