* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-color {
    background-color: #3D3E49;
}

.second_sec_img {
    /* height: auto; */
    background-position: center;
    background-size: cover;
    height: 500px;
}

.second_sec_img:hover {
    opacity: 0.6;
}

.first_sec_img {
    /* height: auto; */
    background-position: center;
    background-size: cover;
    height: 90vh;

}

.first_sec_img :hover {
    opacity: 0.6;
}

.i1 {
    height: 300px;
    width: 600px;
}

.white_box {
    background-color: rgba(255, 255, 255, 0.406);
    height: auto;
}

.collapse.navbar-collapse {
    text-align: center;
}

.img-fluid {
    height: 750px;
    width: 900px;
}

.p1 {
    font-size: 50px;
    color: rgb(122, 70, 70);
    margin-top: 200px;
    font: bold;
    text-align: left;
    margin-left: 70px;
}

.second-img :hover {
    opacity: 0.6;
}

.sofa-sec {
    background-image: url(https://s3-alpha-sig.figma.com/img/246f/04f1/6e8f54170b8c8ed4b206670af89bbc6c?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=b3XASdRH3N8iuXVOwZDCXAIlSP9yb50z5SzPm6K~Sz5hYzRNsHW-YEct-2XbsdOhNpEFy1oDUKtcDUDEI86jiZahulc4MW32rjzUeNJmYdnRDkBctO11WbK3wL7U9py0KzZml3w0ajZcF~WyHQc~wD~e9mrxiFXAHY3rXXT8LZvfhjS2KDi5jbZ4TsP8-4mFOOiX1Omg43jxCToPg6ftRYUG0tizqqxhXicHJgj-hLl5n9lALvwwUvV6A~7mt-SYJtmVHp0KPQDIMfFOft~ucqThRQoIDYVHjwaK19QZA32W4T3Gj4pqOFsRDEomWGtgOAtcm9tTW~wlnv1hB6NvDQ__);
    height: 700px;
    width: 100%;
    margin-top: 50px;
}

.lorem {
    color: white;
    font: bold;
    font-size: 30px;
    margin-top: 150px;
}

.lorem1 {
    color: white;
    font: bold;
    font-size: 30px;

}

.btns {
    padding: 10px 20px;

    background-color: rgb(122, 70, 70);
    ;
    border: none;
}


.btnlast {
    margin-left: 700px;
    background-color: rgb(122, 70, 70);
    height: 30px;
    width: 100px;
    border: none;
}

.p2 {
    font-size: 25px;
    margin-left: 70px;
}

.btn.btn-outline-secondary {
    margin-left: 70px;
}

.rounded-3:hover {
    opacity: 0.6;
}

.img-fluid:hover {
    opacity: 0.6;

}

#bg-img {
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}

#img1 {
    height: 300px;
    width: 250px;
    margin-left: 250px;
    margin-top: 50px;
}

#text-center {
    text-align: right;
    margin-top: 50px;
}

.p3 {
    font-size: 20px;
    color: rgb(122, 70, 70);
    margin-top: 50px;
    margin-right: -150px;
}

.p4 {
    font-size: 50px;
    margin-right: -170px;
}

.p5 {
    font-size: 15px;
    margin-right: -170px;
    line-height: 1.6em;
    letter-spacing: .08em;
}

.btn.btn-danger {
    /* margin-right: -170px; */
    background-color: rgb(122, 70, 70);
    color: white;
    padding: 10px 20px;
    /* height: 40px; */
    /* width: 50%; */
}

.btn.btn-danger.btn2 {
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: rgb(122, 70, 70);
    color: white;
    padding: 10px 20px;
    /* height: 40px; */
    /* width: 70%; */
    border: none;
    margin-top: 20px;
}

.second_sec_img1 {
    height: auto;
    background-position: center;
    background-size: cover;
}

.white_box1 {
    background-color: rgba(255, 255, 255, 0.406);
    height: auto;
}



/* hero section */
/* .hero_txt {
    height: 600px;
    background-color: rgb(126, 127, 130);
    color: white;
} */

/* .hero_txt h2 {
    margin: 50px 20px;
    font-size: 42px;
}

.sec_txt {
    text-align: center;
}

.hero_img {
    height: 600px;
    margin: 0px;
} */


/* second section */
.second_sec_img {
    height: auto;
    background-position: center;
    background-size: cover;
}

.feature_heading1 {
    text-align: center;
    margin: 30px;
    font-size: 40px !important;
    color: #c2363f;
}

.feature_heading2 {
    text-align: center;

    font-size: 40px !important;
    color: black;
    font: bold;
}


.white_box {
    background-color: rgba(255, 255, 255, 0.406);
    height: auto;
}

.box {
    background-color: white;
    height: auto;
    margin-top: 80px;
    /* margin: 80px 0px; */
    position: relative;
    padding: 20px;
}

.box_title {
    transform: translate(0, -90%);
    text-align: center;
    font-weight: 700;
    color: gray;
}

.box_txt {
    margin: 50px auto 30px;
    width: 66%;
    text-align: center;
}

.box_txt p {
    text-align: justify;
}

.img004

/* hero section */
.hero_txt {
    background-color: rgb(180, 178, 178);
    padding: 50px;
    height: 500px;
}

.hero_img {
    background-position: center;
    background-size: cover;
    height: 450px;
}

.slider {
    height: 400px;
}

.carousel-item0 {
    text-align: center;
    padding: 0px;
    height: 400px !important;
}

.carousel-indicators0 {
    /* width: 10% !important; */
    margin: 10px !important;
}

.carousel-indicators0 [data-bs-target] {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
}

.carousel-indicators0 .active {
    background-color: #c2363f !important;
}

.carousel-caption0 {
    text-align: center !important;
    /* width: 60% !important; */
    height: 400px;
    padding-top: 100px !important;
    /* margin-left: 14.5%; */
}

.carousel-caption0 h2 {
    margin: 30px 0;
    color: black;
    font-weight: 700;
}

.carousel-caption0 button {
    background-color: #c2363f;
    border: 2px solid #c2363f;
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    transition: .3s;
    margin: 8px 0;
}

.carousel-caption0 button:hover {
    background-color: transparent;
    color: #c2363f;
}

/* feature section */
.feature_heading {
    text-align: center;
    margin: 60px 0;
}

.fearure_img img {
    height: 200px;
    width: 100%;
}

.fearure_img img:hover {
    opacity: 0.6;
}


.feature_img_txt {
    padding: 10px;
}

.feature_img_txt p {
    color: #c2363f;
}

.feature_btn {
    text-align: center;
}

.feature_btn button {
    background-color: #c2363f;
    border: 2px solid #c2363f;
    border-radius: 50px;
    color: white;
    padding: 8px 25px;
    margin: 20px 0;
    font-weight: 500;
    transition: .3s;
}

.feature_btn button:hover {
    background-color: transparent;
    color: #c2363f;
}

/* interior section */
.interior_img {
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
}

.white_box {
    background-color: rgba(255, 255, 255, 0.343);
    /* background-color: aqua; */
    height: auto;
    /* position: relative; */
    padding: 100px 0;
}

.interior_box {
    background-color: white;
    height: auto;
    margin-left: 30%;
    /* width: 55%; */
    /* padding-left: 80%; */
    padding: 50px;
}

.interior_box_img {
    /* background-color: aqua; */
    /* height: 400px; */
    /* width: 20%; */
    /* padding: 50px; */
    display: block;
}

.interior_img2 {
    background-position: center;
    background-size: cover;
    height: 450px;
}

.interior_img2:hover {
    opacity: 0.6;
}

.interior_box_txt {
    display: block;
    /* padding: 100px; */
}

.interior_box_txt h1 {
    width: 75%;
    margin: 100px 50px 50px;
}

.interior_box_txt button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0 50px;
    transition: .3s;
}

.interior_box_txt button:hover {
    background-color: transparent;
    color: black;
}

.h3 {
    text-align: center;
    margin-top: 50px;
    color: rgb(122, 70, 70);
}

.h1 {
    text-align: center;
    margin-top: 30px;
}

.fearure_img img {
    height: 300px;
    width: 100%;
    margin: 5px;
    color: transparent;
}

.fearure_img img:hover {
    background-color: rgb(226, 224, 224);
}

.h3text {
    margin-top: 40px;
    color: rgb(122, 70, 70);
    text-shadow: 2px 2px 5px rgb(122, 70, 70);
    font-size: 40px !important;
}

.p_txt {
    font-size: 20px;
}

.Mail {
    height: 70px;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(226, 224, 224);
}

.feature_img_txt {
    padding: 10px;
    margin-top: 10px;
}

.img_1 {
    height: auto;
    background-position: center;
    background-size: cover;
}

.contain {
    height: 450px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    background-color: #85310c;
}

.contain img {
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
    transition: .3s;
    backface-visibility: hidden;
}

.middle {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text-left {
    text-align: left;
    margin-top: 40px;
}

.c-color {
    color: rgb(92, 49, 49);
}

.tx-1 {
    text-align: left;
}

#tx-1 {
    text-align: left;
}

.icon {
    color: black;
    background-color: white;
    padding: 12px 18px;
    font-size: 20px;
    border-radius: 50%;
}

.contain:hover img {
    opacity: 0.2;
}

.contain:hover .middle {
    opacity: 1;
}


.contain0 {
    margin-top: 100px;
    height: 700px;
    width: 100%;
    background-color: #85310c;
}

