/* hero_section */
.hero_img_0 {
    height: 90vh;
    background-image: url(https://s3-alpha-sig.figma.com/img/39a9/442e/5af000aed2166461c03feec0ba1743a7?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U0y-vCOW5FjuZft5TWGJpk2-Lqe9hfcujdL9lb16hxWGIQnaKhrOe41pOz63BVzMX5CpcB9Qr-rp9qycyZRO7kkhEmkRLGWKDT83rWFGP2uwv6813QvIpwaTZDlZqaW9mK92jfj-tnumcmamwf3hPepYqcdMTRs~R9KTM5q2qTpS3Y7~vjQmDygTER87KqRofye6ODVr8N0MVmyPJKqbsM1QakxzNJ69F5X393BS-pjbhOhCLJFlrYrl4ajiRWK8mqFVAkBL2I7RLyTbk6GaD2dPXqXuSnQUpv~RUQ9jjtNgZsPdqYCZCMvfegzNJw9a72uzehHcJy1eaMJT5B5GDQ__);
    background-position: center;
    background-size: cover;
}

.black_box {
    background-color: rgba(0, 0, 0, 0.461);
    height: 90vh;
}

.hero_txt-0 {
    padding-top: 12%;
    text-align: center;
    color: white;
}

.hero_txt-0 h1 {
    font-size: 80px;
    margin: 20px
}

.hero_txt-0 button {
    background-color: lightgray;
    border: 2px solid lightgray;
    color: black;
    padding: 10px 20px;
    font-weight: 500;
    transition: .3s;
}

.hero_txt-0 button:hover {
    background-color: transparent;
    color: lightgray;
}

/* service_section */
.service_section {
    height: 100vh;
    padding: 80px 0;
}

.service_img_box1 {
    height: 60vh;
    position: absolute;
    background-image: url(https://s3-alpha-sig.figma.com/img/df6b/39d2/afa82354cdcc1887a4c296714d1f754a?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ERmABRmxbBUzRLF5cqezOFSGRYPbraKCK50wAgm2X2Hrr~g4pc9Q3b~j5MASoiMBtgPfY8fnixSvQcqN-14TtOOUgtxXyzXBOGE97Fc4cZrPuyG~mFr8~-qIOxUinkVrX3xrUBwrKkEdAFfLrljEVaOkKNOh1CU9tFZo~b59V94b6L06QxuceQBNpibK54uym2WzYoUboblCTu2PFRUoCa1ZU5GbLEvimbCmCS7PE-E~ocwpl5YvIBehykxyQfru-fwLL7KaImolMYRoweSFtlATT6pQnYPZFCzytbOHu1ljlROfBALgRfjX-dQ1bluRgrCpcfjWBiF8u7U~DkKO-g__);
    background-position: center;
    background-size: cover;
}

.service_img_box1:hover {
    transform: scale(.9)
}

.service_img_box2 {
    height: 50vh;
    position: relative;
    margin: auto;
    transform: translate(0, 50%);
    background-image: url(https://s3-alpha-sig.figma.com/img/503c/2951/171d8bcb64f796c2ef9a0f64994f12b2?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EOKplq5-73IfKAAMGaMJDpmr6XbLjjd7XGDScEq6aK3s9VX93OOJPloCHLuwQAlLrF~w-B~VspHPBu9yX2mtBepTbsTkqFQuWvP1aZPvbTuFdhnFWtucDrKgET3T9vz7uo7DdpROG8TkIq40bIJPEwtbNuiROf9w4TAGbXDyZLlMNQMacPwJDbg4I-8ko327CcJKjcocxyU6wIydyETZ6lqb8X8YQRdGyWW37ZR2tjNHK9D9IriYXzuR2SE6yk9X2HyKCt1szfutmI9ysF5UubHEX4PMYpjBfqYHIoDo8nrbXM-yEyTk6iKScMsCEeFRNP~abfsMtornlG3ZOinEGg__);
    background-position: center;
    background-size: cover;
}

.service_tx {
    position: relative;
    transform: translate(220%, -130%);
}

.service_tx ul {
    transform: translate(50%, 90%);
    list-style-type: none;
    line-height: 2;
    font-size: 20px;
    font-weight: 500;
}

/* footer */
.footer {
    background-color: rgb(68, 69, 79);
    color: white;
}

.icons {
    transform: translate(0%, -125%);
}

.icons i {
    color: white;
    background-color: rgb(150, 94, 94);
    padding: 18px;
    border-radius: 50%;
    font-size: 25px;
}

.wround {
    background-color: white;
    padding: 22px 2px;
    border-radius: 50%;
    height: auto;
}

.info h3 {
    margin-bottom: 30px;
}

.info p {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.info i {
    margin: 0 15px 0 0;
    font-size: 21px;
}

.info p a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.links h3 {
    margin-bottom: 30px;
}

.links p {
    margin: 15px 0;
    font-weight: 500;
}

.form {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 5px;
    transform: translate(0%, -5%);
}

.input input {
    padding: 8.8px;
    width: 84%;
    margin: 5px 0;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 0 4px 4px 0;
    background-color: rgb(235, 233, 233);
}

.input textarea {
    border: 1px solid rgb(235, 233, 233);
    border-radius: 4px;
    background-color: rgb(235, 233, 233);
    margin: 5px 0;
    width: 90%;
}

.input button {
    color: white;
    background-color: rgb(160, 68, 68);
    border: 2px solid rgb(160, 68, 68);
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}

.input button:hover {
    background-color: transparent;
    color: rgb(160, 68, 68);
}

.input i {
    font-size: 20px;
    background-color: rgb(68, 69, 79);
    padding: 11.8px 15px;
    color: white;
    border-radius: 4px 0 0 4px;
}

.text-p {
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    font-size: 17.5px;
    letter-spacing: .08em;
    line-height: 2em;
    text-transform: none;
    color: #454545;
    text-align: center;
}


@media(max-width:768px) {
    .icons i {
        padding: 18px;
        font-size: 25px;
    }

    .wround {
        padding: 22px 2px;
    }

    .service_tx {
        transform: translate(0%, 70%);
    }

    .service_section {
        height: 150vh;
    }

    .service_tx ul {
        transform: translate(0%, 0%);
    }
}

@media(max-width:425px) {
    .icons i {
        padding: 15px;
        font-size: 10px;
    }

    .wround {
        padding: 16px 2px;
    }
}