* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
.bg-color {
    background-color: #3D3E49;
}


.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white !important;
}

.bg-color {
    background-color: #3D3E49;
}

li a {
    margin: 0 8px;
    transition: .5s;
    font-weight: 500;
}

li a:hover {
    background-color: lightgray;
    color: #606062 !important;
}

/* hero_section */
.hero_section {
    height: 112vh;
}

.hero_img {
    height: 40vh;
    background-image: url(../images/v\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.hero_img:hover {
    opacity: 0.6;
}

.hero_img1 {
    background-image: url(../images/v\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img2 {
    background-image: url(../images/v\ \(2\).jpeg);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img3 {
    background-image: url(../images/v\ \(3\).jpeg);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img4 {
    background-image: url(../images/v\ \(4\).jpeg);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img5 {
    background-image: url(../images/v\ \(1\).png);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img6 {
    background-image: url(../images/v\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    height: 30vh;

}

.hero_img7 {
    background-image: url(../images//v\ \(4\).jpeg);
    background-position: center;
    background-size: cover;
    height: 64vh;

}

.hero_img1:hover {
    opacity: 0.6;
}

.hero_img2:hover {
    opacity: 0.6;
}

.hero_img3:hover {
    opacity: 0.6;
}

.hero_img4:hover {
    opacity: 0.6;
}

.hero_img5:hover {
    opacity: 0.6;
}

.hero_img6:hover {
    opacity: 0.6;
}

.hero_img7:hover {
    opacity: 0.6;
}


/* second_section */
.second_section {
    height: 100vh;
    margin-bottom: 10%;
}

.sec_img {
    background-image: url(../images/v\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* opacity: 0.6; */
}

.white_box {
    background-color: rgba(255, 255, 255, 0.325);
    height: 100vh;
}

.second_section h1 {
    /* transform: translate(20% ,500%); */
    margin: 20% 0 0 30%;
}

.sec_img:hover .white_box {
    /* display: none; */
    opacity: 0.5;
}



/* footer */
.footer {
    background-color: rgb(68, 69, 79);
    color: white;
    /* margin-top: 0%; */
}

.icons {
    transform: translate(0%, -125%);
}

.icons i {
    color: white;
    background-color: rgb(150, 94, 94);
    padding: 18px;
    border-radius: 50%;
    font-size: 25px;
}

.wround {
    background-color: white;
    padding: 22px 2px;
    border-radius: 50%;
    height: auto;
}

.info h3 {
    margin-bottom: 30px;
}

.info p {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.info i {
    margin: 0 15px 0 0;
    font-size: 21px;
}

.info p a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.links h3 {
    margin-bottom: 30px;
}

.links p {
    margin: 15px 0;
    font-weight: 500;
}

.form {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 5px;
    transform: translate(0%, -5%);
}

.input input {
    padding: 8.8px;
    width: 84%;
    margin: 5px 0;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 0 4px 4px 0;
    background-color: rgb(235, 233, 233);
}

.input textarea {
    border: 1px solid rgb(235, 233, 233);
    border-radius: 4px;
    background-color: rgb(235, 233, 233);
    margin: 5px 0;
    width: 90%;
}

.input button {
    color: white;
    background-color: rgb(160, 68, 68);
    border: 2px solid rgb(160, 68, 68);
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}

.input button:hover {
    background-color: transparent;
    color: rgb(160, 68, 68);
}

.input i {
    font-size: 20px;
    background-color: rgb(68, 69, 79);
    padding: 11.8px 15px;
    color: white;
    border-radius: 4px 0 0 4px;
}


@media(max-width:768px) {
    .icons i {
        padding: 18px;
        font-size: 25px;
    }

    .wround {
        padding: 22px 2px;
    }
}

@media(max-width:425px) {
    .icons i {
        padding: 15px;
        font-size: 10px;
    }

    .wround {
        padding: 16px 2px;
    }
}

@media (max-width: 450px) {
    .hero_section {
        height: 300vh;
    }
}