.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}
.navbar-brand{
    width: 50%;
}
.bg-color {
    background-color: #3D3E49;
}

li a {
    margin: 0 8px;
    transition: .5s;
    font-weight: 500;
}

li a:hover {
    background-color: lightgray;
    color: #606062 !important;
}
.logo{
    width: 15%;
}