* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar-collapse {
    flex-grow: 0 !important;
}

li a {
    margin: 0 8px;
    transition: .5s;
    font-weight: 500;
}

li a:hover {
    background-color: lightgray;
    color: black !important;
}

/* hero section */
.hero_txt {
    background-color: rgb(180, 178, 178);
    padding: 50px;
    height: 500px;
}

.hero_img {
    background-image: url(../images/f4.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.hero_img:hover{
    opacity: 0.6;
}

.slider {
    height: 400px;
}

.carousel-item0 {
    text-align: center;
    padding: 0px;
    height: 400px !important;
}

.carousel-indicators0 {
    /* width: 10% !important; */
    margin: 10px !important;
}

.carousel-indicators0 [data-bs-target] {
    height: 20px !important;
    width: 20px !important;
    border-radius: 50% !important;
}

.carousel-indicators0 .active {
    background-color: #c2363f !important;
}

.carousel-caption0 {
    text-align: center !important;
    /* width: 60% !important; */
    height: 400px;
    padding-top: 100px !important;
    /* margin-left: 14.5%; */
}

.carousel-caption0 h2 {
    margin: 30px 0;
    color: black;
    font-weight: 700;
}

.carousel-caption0 button {
    background-color: #c2363f;
    border: 2px solid #c2363f;
    padding: 10px 40px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    transition: .3s;
    margin: 8px 0;
}

.carousel-caption0 button:hover {
    background-color: transparent;
    color: #c2363f;
}

/* feature section */
.feature_heading {
    text-align: center;
    margin: 60px 0;
}

.fearure_img img {
    height: 200px;
    width: 100%;
}
.fearure_img img:hover{
    opacity: 0.6;
}

.feature_img_txt {
    padding: 10px;
}

.feature_img_txt p {
    color: #c2363f;
}

.feature_btn {
    text-align: center;
}

.feature_btn button {
    background-color: #c2363f;
    border: 2px solid #c2363f;
    border-radius: 50px;
    color: white;
    padding: 8px 25px;
    margin: 20px 0;
    font-weight: 500;
    transition: .3s;
}

.feature_btn button:hover {
    background-color: transparent;
    color: #c2363f;
}

/* interior section */
.interior_img {
    background-image: url(../images/interior1.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
}

.white_box {
    background-color: rgba(255, 255, 255, 0.343);
    /* background-color: aqua; */
    height: auto;
    /* position: relative; */
    padding: 100px 0;
}

.interior_box {
    background-color: white;
    height: auto;
    /* width: 55%; */
    /* padding-left: 80%; */
    padding: 50px;
}

.interior_box_img {
    /* background-color: aqua; */
    /* height: 400px; */
    /* width: 20%; */
    /* padding: 50px; */
    display: block;
}

.interior_img2 {
    background-image: url(../images/interior2.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}
.interior_img2:hover{
    opacity: 0.6;
}

.interior_box_txt {
    display: block;
    /* padding: 100px; */
}

.interior_box_txt h1 {
    width: 100%;
    margin: 100px 50px 50px;
}

.interior_box_txt button {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0 50px;
    transition: .3s;
}

.interior_box_txt button:hover {
    background-color: transparent;
    color: black;
}

.type2 {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
        typing 1s steps(25, end) forwards;
    animation-delay: 1s;
    font-size: 60px !important;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink {
    from {
        border-color: transparent
    }

    to {
        border-color: orange;
    }
}

/* footer */
.footer {
    background-color: rgb(68, 69, 79);
    color: white;
}

.icons {
    transform: translate(0%, -125%);
}

.icons i {
    color: white;
    background-color: rgb(150, 94, 94);
    padding: 18px;
    border-radius: 50%;
    font-size: 25px;
}

.wround {
    background-color: white;
    padding: 22px 2px;
    border-radius: 50%;
    height: auto;
}

.info h3 {
    margin-bottom: 30px;
}

.info p {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 500;
}

.info i {
    margin: 0 15px 0 0;
    font-size: 21px;
}

.info p a {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.links h3 {
    margin-bottom: 30px;
}

.links p {
    margin: 15px 0;
    font-weight: 500;
}

.form {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 5px;
    transform: translate(0%, -5%);
}

.input input {
    padding: 8.8px;
    width: 84%;
    margin: 5px 0;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 0 4px 4px 0;
    background-color: rgb(235, 233, 233);
}

.input textarea {
    border: 1px solid rgb(235, 233, 233);
    border-radius: 4px;
    background-color: rgb(235, 233, 233);
    margin: 5px 0;
    width: 90%;
}

.input button {
    color: white;
    background-color: rgb(160, 68, 68);
    border: 2px solid rgb(160, 68, 68);
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;
}

.input button:hover {
    background-color: transparent;
    color: rgb(160, 68, 68);
}

.input i {
    font-size: 20px;
    background-color: rgb(68, 69, 79);
    padding: 11px 13px;
    color: white;
    border-radius: 4px 0 0 4px;
}


@media(max-width:768px) {
    .icons i {
        padding: 18px;
        font-size: 25px;
    }

    .wround {
        padding: 22px 2px;
    }
}

@media(max-width:425px) {
    .icons i {
        padding: 15px;
        font-size: 10px;
    }

    .wround {
        padding: 16px 2px;
    }
}