/* navbar */
.navbar-collapse {
    flex-grow: 0 !important;
}

li a {
    margin: 0 8px;
    transition: .5s;
    font-weight: 500;
}

li a:hover {
    background-color: lightgray;
    color: black !important;
}

/* hero_section */
.hero_img {
    height: 90vh;
    background-image: url(../images/1.jpg);
    background-position: center;
    background-size: cover;
}

.black_box {
    background-color: rgba(0, 0, 0, 0.461);
    height: 90vh;
}

.hero_txt {
    padding-top: 12%;
    text-align: center;
    color: white;
}

.hero_txt h1 {
    font-size: 80px;
    margin: 20px
}

.hero_txt button {
    background-color: lightgray;
    border: 2px solid lightgray;
    color: black;
    padding: 10px 20px;
    font-weight: 500;
    transition: .3s;
}

.hero_txt button:hover {
    background-color: transparent;
    color: lightgray;
}

/* second_section */
.second_section{
    height: 100vh;
    /* padding: 80px 0; */
}
.sec_tx{
    height: 80vh;
    padding: 50px 0;
}
.sec_img{
    height: 80vh;
    background-image: url(2.png);
    background-position: center;
    background-size: cover;
}